.item {
  display: flex;
  flex-direction: row;
}

.delete-button {
  height: 20px;
  width: 50px;
  border: none;
  background-color: #eaf565;
  margin: 16px 0 0 30px;
  font-size: 11px;
  cursor: pointer;
  box-shadow: 1px 1px 3px 0 #d3d3d3;
}

.item p {
  margin-left: 18px;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: rgb(186, 186, 186);
}
